# ============ #
# OS generated #
# ============ #

*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
*.ehthumbs.db
*Thumbs.db


# PowerPoint
**/~$*.pptx*

# Vim
*.swp

### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cpp.obj
*.c.obj
*.pdb
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.dll.manifest
*.manifest

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
Folder.DotSettings.user
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## File-based project format:
*.iws

## CMake:
**/cmake-build-debug*
**/cmake-build-release*
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
**/.idea

include/divisible/*


## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner